# yamllint disable rule:line-length

name: Mutation Testing

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-version: ['8.3']

    name: Mutation Testing with PHP ${{ matrix.php-version }}

    steps:
      - uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer:v2

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/composer
          key: composer-${{ matrix.php-version }}-${{ hashFiles('**/composer.*') }}
          restore-keys: |
            composer-${{ matrix.php-version }}-
            composer-

      - name: Install dependencies
        run: |
          composer install --prefer-dist --no-interaction --no-progress

      - name: Mutation testing
        run: |
          php vendor/bin/infection --min-msi=50 --min-covered-msi=50 --threads=$(nproc) --show-mutations --no-interaction
